body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.paginaVertical {
    width: 230mm;
    height: 279.4mm;
    margin: 2cm
}

.paginaHorizontal {
    width: 230mm;
    height: 189mm;
    margin: 1cm
}

p {
    text-indent: 10px;
    font-family: verdana;
    font-size: 10pt;
    margin-bottom: 10px;
}

h4 {
    color: #000000;
    font-family: verdana;
    font-size: 14pt;
    margin-bottom: 1px;
}

h5 {
    color: #000000;
    font-family: Verdana;
    font-size: 10pt;
    text-decoration: underline;
    margin-bottom: 10px;
}

table {
    font-family: verdana;
    font-size: 8pt;
}

div {
    color: #000000;
    font-family: verdana;
    font-size: 8pt;
    font-weight: bold;
}

.cabecera {
    height: 40px;
    font-weight: normal;
}

.cabecera2 {
    height: 20px;
    font-weight: normal;
}

th {
    background-color: #EAEAEA;
}

.tbfont {
    font-size: 9px;
}

.interno {
    font-weight: normal;
}

.unica {
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: gray;
}