body {
    background: #fff;
    margin: 0;
    padding: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
}

#table {
    display: table;
    width: 100%;
    background: #fff;
    margin: 0;
    box-sizing: border-box;

}

.box {
    padding-top: 30px;
    padding-right: 30px;
}

.card {
    padding-top: 30px;
    padding-right: 30px;
}

.pt {
    display: block;
    width: 100%;
    background: #64e0ef;
    height: 45px;
    padding-left: 10px;
    color: #fff;
    font-size: 24px;
    line-height: 55px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    box-sizing: border-box;
}



.pr {
    font-size: 18;
    font-family: Arial;
    padding-left: 12px;
}

.tabla {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
}


titulo {
    font-family: "Century Schoolbook";
    font-size: 28px;

}

.fecha {
    font-family: "Century Schoolbook";
    font-size: 12px;
    text-align: right;
}


.header-row {
    background: #8b8b8b;
    color: #fff;

}

.row {
    display: table-row;
}

.cell {
    display: table-cell;

    padding: 6px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.primary {
    text-align: left;
}


input[type="radio"],
input[type="checkbox"] {
    display: none;
}


@media only screen and (max-width: 760px) {

    body {
        padding: 0;
    }

    #table {
        display: block;
        margin: 44px 0 0 0;
    }

    .caption {
        position: fixed;
        top: 0;
        text-align: center;
        height: 44px;
        line-height: 44px;
        z-index: 5;
        border-bottom: 2px solid #999;
    }

    .row {
        position: relative;
        display: block;
        border-bottom: 1px solid #ccc;

    }

    .header-row {
        display: none;
    }

    .cell {
        display: block;

        border: none;
        position: relative;
        height: 45px;
        line-height: 45px;
        text-align: left;
    }

    .primary:after {
        content: "";
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
        z-index: 2;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ccc;

    }

    .cell:nth-of-type(n+2) {
        display: none;
    }


    input[type="radio"],
    input[type="checkbox"] {
        display: block;
        position: absolute;
        z-index: 1;
        width: 99%;
        height: 100%;
        opacity: 0;
    }

    input[type="radio"]:checked,
    input[type="checkbox"]:checked {
        z-index: -1;
    }

    input[type="radio"]:checked~.cell,
    input[type="checkbox"]:checked~.cell {
        display: block;

        border-bottom: 1px solid #eee;
    }

    input[type="radio"]:checked~.cell:nth-of-type(n+2),
    input[type="checkbox"]:checked~.cell:nth-of-type(n+2) {

        background: #e0e0e0;
    }

    input[type="radio"]:checked~.cell:nth-of-type(n+2):before,
    input[type="checkbox"]:checked~.cell:nth-of-type(n+2):before {
        content: attr(data-label);

        display: inline-block;
        width: 60px;
        background: #999;
        border-radius: 10px;
        height: 20px;
        margin-right: 10px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: white;

    }

    input[type="radio"]:checked~.primary,
    input[type="checkbox"]:checked~.primary {
        border-bottom: 2px solid #999;
    }

    input[type="radio"]:checked~.primary:after,
    input[type="checkbox"]:checked~.primary:after {
        position: absolute;
        right: 18px;
        top: 22px;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid #ccc;
        z-index: 2;
    }

    table.table td a.edit {
    color: #0741ff;
}

table.table td a.delete {
    color: #F44336;
}

.t9 {
    font-family: Arial;
    font-size: 16px;
    color: #081e5b;
    font-weight: bold;
}

labelformu {
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

texto {
    font-size: 14px;
    font-family: Arial;
}

tex {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    align-items: center;
}

.sinborde {
    border: 0;
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* Modal styles */

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 10px 20px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal textarea.form-contr {
    height: 10em;
    width: 750px;
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

.modal-mm {
    max-width: 400px;
}

.large-textarea textarea {
    font-family: Courier, sans-serif;
    height: 10em;
    width: 500px;
}

.btn-success .delete {
    color: #fff;
    background-color: #a72828;
    border-color: #a72828;

}

.btn-success {
    color: #fff;
    background-color: brown;
    border-color: brown;
    text-align: center;
}

.btn-success:hover {
    color: #fff;
    background-color: brown;
    border-color: brown;
    text-align: center;
}

.btn-success1 {
    color: #fff;
    background-color: rgb(42, 106, 165);
    border-color: rgb(42, 106, 165);
    text-align: center;
}


.btn-success2 {
    color: #fff;
    background-color: rgb(241, 243, 244);
    border-color: rgb(241, 244, 247);
    text-align: center;
}

.btn-success1:hover {
    color: #fff;
    background-color: rgb(42, 106, 165);
    border-color: rgb(42, 106, 165);
    text-align: center;
}


.btn-sm,
.btn-group-sm>.btn {
    padding: 0.2rem 0.3rem;
    font-size: 0.2rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    text-align: center;
}



#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

.loading {
    position: fixed;
    left: 40px;
    top: 40px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('cargando.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
    display: none;
}
}