table.table td a.edit {
    color: #0741ff;
}

table.table td a.delete {
    color: #F44336;
}

.t9 {
    font-family: Arial;
    font-size: 16px;
    color: #081e5b;
    font-weight: bold;
}

labelformu {
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

texto {
    font-size: 14px;
    font-family: Arial;
}

tex {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    align-items: center;
}

.sinborde {
    border: 0;
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* Modal styles */

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 10px 20px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal textarea.form-contr {
    height: 10em;
    width: 750px;
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

.modal-mm {
    max-width: 400px;
}

.large-textarea textarea {
    font-family: Courier, sans-serif;
    height: 10em;
    width: 500px;
}

.btn-success .delete {
    color: #fff;
    background-color: #a72828;
    border-color: #a72828;

}

.btn-success {
    color: #fff;
    background-color: brown;
    border-color: brown;
    text-align: center;
}

.btn-success:hover {
    color: #fff;
    background-color: brown;
    border-color: brown;
    text-align: center;
}

.btn-success1 {
    color: #fff;
    background-color: rgb(42, 106, 165);
    border-color: rgb(42, 106, 165);
    text-align: center;
}


.btn-success2 {
    color: #fff;
    background-color: rgb(241, 243, 244);
    border-color: rgb(241, 244, 247);
    text-align: center;
}

.btn-success1:hover {
    color: #fff;
    background-color: rgb(42, 106, 165);
    border-color: rgb(42, 106, 165);
    text-align: center;
}


.btn-sm,
.btn-group-sm>.btn {
    padding: 0.2rem 0.3rem;
    font-size: 0.2rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    text-align: center;
}



#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

.loading {
    position: fixed;
    left: 40px;
    top: 40px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('cargando.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
    display: none;
}